<!doctype html>
<html>
  <head>
    <title>Sistema Coder de la comision {{ comision }}</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
  </head>
  <body>
    <h1>
      Bienvenidos, les saluda {{ profesor }}
    </h1>

    <h3>Alumnos inscritos:</h3>
    <ul>
    {% for estudiante in estudiantes %}
      <li>
        {{ estudiante.apellido}}, {{ estudiante.nombre}}
        {% if estudiante.nota >= 5 %}
         APROBADO
        {% else %}
         REPROBADO
        {% endif %}
      </li>
    {% endfor %}
    </ul>

  </body>
</html>